style="
    border-top-width: 20px;
    border-left-width: 20px;
    border-right-width: 20px;
    border-bottom-width: 20px;
    width: 122px;
    height: 112px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
"